<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ronjaa</title>
    <link rel="stylesheet" href="public/start.css">
</head>
<body>
    <section id="sky">
        <div class="sky_background"></div>
    </section>
    <section id="top_wheel">
        <h6>Horoskopes for</h6>
        <h2 id="date">
            <%= date %>
        </h2>
        <div class="underline"></div>
        <div class="quote_wrapper">
            <div class="quote">
                <q>
                    <%= quote.text %>
                </q>
                <p>— <%= quote.author %></p>
            </div> 
        </div> 
    </section>
    <section id="yourSign">
        <h4>Choose your Zodic Sign</h4>
        <div class="sign_list">
            <div class="nextPrev">
                <div class="prev">&lt;&lt; Abigail</div>
                <div class="next">Thorn &gt;&gt;</div>
            </div>
            <div class="slider">
                <div>Cancer</div>
                <div class="active">Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
                <div>Cancer</div>
            </div>
            <div class="sign_wrapper">
                <div class="img"></div>
                <div class="text">
                    <h5 class="name">Cancer</h5>
                    <h6 class="date">26.05 - 12.04</h6>
                    <div class="descr">Smart, beautiful, a gift from nature. Destined to change the world. Just kidding!</div>
                </div>
            </div>
        </div>
    </section>
    <section id="yourSignDetailed">
        <h4>Todays horoskope (cancer)</h4>
        <p>A man walks into an enchanted forest and tries to cut down a talking tree. “You can’t cut me down,” the tree exclaims, “I’m a talking tree!” The man responds, “You may be a talking tree, but you will dialogue.” | It’s important to establish a good vocabulary. If I had known the difference between the words “antidote” and “anecdote,” one of my best friends would still be alive. | Today on a drive, I decided to go visit my childhood home. I asked the people living there if I could come inside because I was feeling nostalgic, but they refused and slammed the door in my face. My parents are the worst.</p>
        <a href="/" class="teaser">Learn more about your past self and ghost and whatsoever I am going insane...</a>
        <div class="underline"></div>
    </section>
    <section id="articles">
        <div id="article_wrapper">
            <% articles.forEach( a => { %>
                <a href="<%- a.href %>" class="article">
                    <div class="article-image" style="background-image: url('<%= a.href %>')"></div>
                    <div class="article-preview">
                        <h3><%= a.title %></h3>
                        <p><%= a.summary %></p>
                    </div>
                </a>
            <% }); %>
        </div>
    </section>
    <footer>
        <span>Kansjke jeg elsker deg, vet ikke</span>
    </footer>
</body>
</html>